#colors {
    position: relative;
    width: 200px;
    height: 200px;
    left: 22vw;
    top: 200px;
}

.circle {
    position: absolute;
    width: 10vh;
    height: 10vh;
    background-color: gray;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 5vh;
    vertical-align: right;
}

.CodeMirror {
    height: 56vh !important;
    border-radius: .25rem !important;
}

#color7 {
    
}
